.xtrIcon.iconButton {
	border-radius: 9999px;
	padding: 16px;
}

.xtrIcon.iconButton:hover {
	cursor: pointer;
	background: hsl(var(--colorBrandPrimary) / 75%);
	color: white;
}

.xtrIcon.iconButton:active {
	background: hsl(var(--colorBrandPrimary));
}
